
VZIC_RELEASE_NAME=2023c

# The source tzdata is downloaded from this URL.
VZIC_TZDATA_ARCHIVE_URL="https://data.iana.org/time-zones/releases/tzdata$VZIC_RELEASE_NAME.tar.gz"

VZIC_PRODID="-//github.com/libical/vzic//NONSGML ICS//EN"
VZIC_TZID_PREFIX="/github.com/libical/tzdbics/%D_$VZIC_RELEASE_NAME/"

VZIC_MAKE_ARGS="PRODUCT_ID=\"$VZIC_PRODID\" TZID_PREFIX=\"$VZIC_TZID_PREFIX\""
VZIC_INVOCATION_ARGS="--pure"
